// Custom Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

// Track
::-webkit-scrollbar-track {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: silver;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: gray;
}
